@{
    ViewData["Title"] = "Home Page";
}
@model w3_oef2.PresentationModels.PMAgenda

<div class="row">
    <div class="col-md-3">
        <h2>Slot 1</h2>
        <ul>
            @foreach (var session in Model.Slot1)
            {
                <li><a asp-action="detail" asp-controller="home" asp-route-koekoek="@session.Id">@session.Name</a></li>
            }
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Slot2</h2>
        <ul>
            @foreach (var session in Model.Slot2)
            {
                <li><a asp-action="detail" asp-controller="home" asp-route-koekoek="@session.Id">@session.Name</a></li>
            }
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Slot 3</h2>
        <ul>
            @foreach (var session in Model.Slot3)
            {
                <li><a asp-action="detail" asp-controller="home" asp-route-koekoek="@session.Id">@session.Name</a></li>
            }
        </ul>
    </div>
</div>
