@model Week3Oef2.Models.Session

    <div class="row">
        <div class="col-lg-6">
            <form method="post" action="/car/updatecomplex">

                <div class="form-group">
                    <label asp-for="@Model.Name">Name</label>
                    <p asp-for="@Model.Name" value="@Model.Name" class="form-control">@Model.Name</p>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Slot">Name</label>
                    <p asp-for="@Model.Slot" value="@Model.Slot" class="form-control">@Model.Slot</p>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Description">Name</label>
                    <p asp-for="@Model.Description" value="@Model.Description" class="form-control">@Model.Description</p>
                </div>



                <div class="form-group">
                    
                </div>
                <input type="submit" class="btn btn-default" value="Wijzig" />
                <a asp-action="index" asp-controller="car">Terug</a>
            </form>
        </div>


    </div>

